In [1]:
import pandas as pd


ages = [15, 15, 16, 19, 19, 20, 20, 21, 22, 28, 35, 40, 41, 42, 43, 44, 60, 61, 65]


c1 = 16
c2 = 22


for i in range(4):
   
    distances = []
    for age in ages:
        distance1 = abs(age - c1)
        distance2 = abs(age - c2)
        distances.append([distance1, distance2])

   
    cluster_assignments = []
    for distance in distances:
        if distance[0] <= distance[1]:
            cluster_assignments.append(1)
        else:
            cluster_assignments.append(2)

   
    c1 = sum([ages[j] for j in range(len(ages)) if cluster_assignments[j] == 1]) / cluster_assignments.count(1)
    c2 = sum([ages[j] for j in range(len(ages)) if cluster_assignments[j] == 2]) / cluster_assignments.count(2)


data = {'Age': ages, 'Cluster Assignment': cluster_assignments}
df = pd.DataFrame(data)


print(df)

    Age  Cluster Assignment
0    15                   1
1    15                   1
2    16                   1
3    19                   1
4    19                   1
5    20                   1
6    20                   1
7    21                   1
8    22                   1
9    28                   1
10   35                   2
11   40                   2
12   41                   2
13   42                   2
14   43                   2
15   44                   2
16   60                   2
17   61                   2
18   65                   2